<mat-card>
	<mat-card-header>
		<mat-card-subtitle>{{ takeoffPerformance?.icao }} Takeoff Performance</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content class="flex-columns">
		<div class="flex-rows">
			<span>Liftoff:</span>
			<i>(+25% margin)</i>
			<span>To 50ft Height:</span>
			<i>(+25% margin)</i>
			<br/>
			<span>RWY TORA used:</span>
			<span>RWY TODA used:</span>
		</div>
		<div class="flex-rows">
			<span>{{ takeoffPerformance?.liftoffDistance | number  }}</span>
			<i>{{ takeoffPerformance?.liftoffDistanceMargin | number  }}</i>
			<span>{{ takeoffPerformance?.liftoffTo50ftDistance | number  }}</span>
			<i>{{ takeoffPerformance?.liftoffTo50ftDistanceMargin | number  }}</i>
			<br/>
			<span>{{ takeoffPerformance?.runwayToraUsedPercentage | number }}%</span>
			<span>{{ takeoffPerformance?.runwayTodaUsedPercentage | number  }}%</span>
		</div>
		<div class="runway-svg">
			<svg xmlns="http://www.w3.org/2000/svg">
				<rect width="100%" height="80" x="0" y="0" fill="black" />
				<line x1="0" y1="40" x2="100%" y2="40" stroke-dasharray="40, 10" style="stroke:white;stroke-width:5"/>
			</svg>
		</div>
	</mat-card-content>
</mat-card>
