<mat-card>
	<mat-card-header>
		<mat-card-subtitle>{{ takeoffPerformance?.icao }} Takeoff Performance</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content class="flex-columns">
		<div class="perf-values">
			<div class="item">
				<span>Liftoff</span>
				<span><app-clipboard-text>{{ takeoffPerformance?.liftoffDistance | number }}m</app-clipboard-text></span>
				<span matTooltip="Extra 25% margin applied"><app-clipboard-text>+25% {{ takeoffPerformance?.liftoffDistanceMargin | number }}m</app-clipboard-text></span>
			</div>
			<div class="item">
				<span>To 50ft height</span>
				<span><app-clipboard-text>{{ takeoffPerformance?.liftoffTo50ftDistance | number }}m</app-clipboard-text></span>
				<span matTooltip="Extra 25% margin applied"><app-clipboard-text>+25% {{ takeoffPerformance?.liftoffTo50ftDistanceMargin | number }}m</app-clipboard-text></span>
			</div>
			<div class="item">
				<span>RWY TORA Used</span>
				<span><app-clipboard-text>{{ takeoffPerformance?.runwayToraUsedPercentage | number: '1.2-2' }}%</app-clipboard-text></span>
			</div>
			<div class="item">
				<span>RWY TODA Used</span>
				<span><app-clipboard-text>{{ takeoffPerformance?.runwayTodaUsedPercentage | number: '1.2-2' }}%</app-clipboard-text></span>
			</div>
		</div>
		<app-runway-svg [takeoffPerformance]="takeoffPerformance" class="runway-svg"></app-runway-svg>
	</mat-card-content>
</mat-card>
