@let newFlightPerformance = newFlightPerformance$ | async;
@if (newFlightPerformance != null) {
	<div class="page-content">
		<div class="card-label-container">
			<mat-card appearance="outlined" class="card-label">
				<mat-icon>airlines</mat-icon><span>{{ newFlightPerformance.registration }}</span>
			</mat-card>
			<mat-card matTooltip="Date of flight" appearance="outlined" class="card-label">
				<mat-icon>flight_takeoff</mat-icon><span>{{ newFlightPerformance.dateOfFlight | date: 'MM/dd/yyyy' }}</span>
			</mat-card>
			<button class="btn-save" (click)="saveFlight()" matTooltip="Save flight" mat-icon-button><mat-icon>save</mat-icon></button>
		</div>
		<app-takeoff-performance
			[takeoffPerformance]="newFlightPerformance.departureTakeOff">
		</app-takeoff-performance>
		<app-takeoff-performance
			[takeoffPerformance]="newFlightPerformance.destinationTakeOff">
		</app-takeoff-performance>
        <app-fuel-calculation></app-fuel-calculation>
	</div>
}
@else {
	<div class="content-centered">
		<div class="empty-page-flex">
			<mat-icon class="big-icon">sync</mat-icon>
			<h1>No data available</h1>
			<div class="paragraph">Performance calculations will automatically appear here when filling in the left side.</div>
		</div>
	</div>

}
