@use '@angular/material' as mat;

$warn-color: orange;
$danger-color: #a10000;
$success-color: #5aa135;

//body {
//  background-color: var(--mat-sys-on-background);
//  margin: 0;
//}

body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  margin: 0;
  font: 500 14px/22px Roboto, sans-serif;
}

html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$azure-palette,
    typography: Roboto,
    density: 0
  ));
  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-secondary-container),
    container-text-color: var(--mat-sys-on-secondary-container),
  ));
}

.page-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.small-badge {
	margin-left: 10px;
	font-size: 10px;
	padding: 2px 5px;
	border-radius: 5px;
	background-color: var(--mat-sys-secondary-container);
}

.badge {
	padding: 2px 10px;
	border-radius: 10px;
	background-color: var(--mat-sys-secondary-container);
}

.divider {
	display: flex;
	align-items: center;
	font-family: "B612", serif;
	font-size: 12px;
}

.divider::before, .divider::after {
	flex: 1;
	content: '';
	padding: 1px;
	background-color: #3f3f3f;
	margin: 5px;
}
