@use '@angular/material' as mat;
@use '../../../../../styles.scss' as *;

mat-form-field {
	@include mat.form-field-density(-5);
}

mat-card-subtitle {
	@include mat.card-overrides((
		subtitle-text-line-height: 2
	))
}

.card-input-row {
	display: flex;
	gap: 10px;
	margin-bottom: 20px;
}

.card-input-row-spaced {
	display: flex;
	justify-content:  space-between;
}

.card-input-row > * {
	flex: 1;
}

.aircraft-info-flex {
	display: flex;
	gap: 30px;
}

.aircraft-info-flex-column {
	display: flex;
	flex-direction: column;
}

.selected-aircraft {
	display: flex;
	justify-content: space-between;
}

.selected-aircraft > div {
	flex: 1;
}

.aircraft-limits-flex {
	display: flex;
	flex-direction: column;
}

.amber {
	color: $warn-color;
}
