<mat-card>
	<mat-card-header>
		<app-card-input-title>Aircraft details</app-card-input-title>
	</mat-card-header>
	<mat-card-content>
		<div class="card-input-row">
			<mat-form-field appearance="outline" subscriptSizing="dynamic">
				<mat-label>Aircraft</mat-label>
				<mat-select [disabled]="isLoading$ | async">
					@for (aircraft of (aircraft$ | async); track $index) {
						<mat-option [value]="aircraft.id">{{ aircraft.registration }}</mat-option>
					}
				</mat-select>
			</mat-form-field>
			<mat-form-field appearance="outline" subscriptSizing="dynamic">
				<mat-label>Registration</mat-label>
				<input matInput placeholder="PH-ABC" [disabled]="isLoading$ | async" />
			</mat-form-field>
		</div>
		@if (isLoading$ | async) {
			<mat-progress-bar mode="indeterminate"></mat-progress-bar>
		}
	</mat-card-content>
</mat-card>
