<mat-card>
	<mat-card-header>
		<app-card-input-title
			[isSuccess]="form.valid"
			(historyClicked)="loadFormHistory()"
			(resetClicked)="resetForm()"
			(saveClicked)="saveForm()">Aircraft details
		</app-card-input-title>
	</mat-card-header>
	<mat-card-content>
		<form [formGroup]="form">
			<div class="card-input-row">
				<mat-form-field appearance="outline" subscriptSizing="dynamic">
					<mat-label>Aircraft</mat-label>
					<mat-select [formControl]="form.controls.aircraftId">
						@for (aircraft of (aircraft$ | async); track $index) {
							<mat-option [value]="aircraft.id">{{ aircraft.registration }}</mat-option>
						}
					</mat-select>
					<button type="button" mat-icon-button matSuffix matTooltip="Refresh aircraft" (click)="onRefreshClick($event)" [disabled]="(isLoading$ | async) ?? false"><mat-icon>refresh</mat-icon></button>
				</mat-form-field>
				<mat-form-field appearance="outline" subscriptSizing="dynamic">
					<mat-label>Registration</mat-label>
					<input matInput placeholder="PH-ABC" [formControl]="form.controls.registration" />
					<mat-icon class="small-icon" matSuffix matTooltip="Use this field to override the aircraft registration">info</mat-icon>
				</mat-form-field>
			</div>
			<div class="card-input-row divider-row">
				<div class="divider">Takeoff Performance</div>
				<div class="divider">Landing Performance</div>
			</div>
			<div class="card-input-row row-offset">
				<mat-form-field appearance="outline" subscriptSizing="fixed">
					<mat-label>Liftoff</mat-label>
					<input min="0" type="number" matInput placeholder="0000" [formControl]="form.controls.takeoffLiftoff" />
					<mat-error>Must be 100 or more</mat-error>
					<span matTextSuffix>m</span>
				</mat-form-field>
				<mat-form-field appearance="outline" subscriptSizing="fixed">
					<mat-label>To 50ft height</mat-label>
					<input min="0" type="number" matInput placeholder="0000" [formControl]="form.controls.takeoff50ftHeight"/>
					<mat-error>Must be 100 or more</mat-error>
					<span matTextSuffix>m</span>
				</mat-form-field>
				<mat-form-field appearance="outline" subscriptSizing="fixed">
					<mat-label>Ground touch</mat-label>
					<input min="0" type="number" matInput placeholder="0000" [formControl]="form.controls.landingGroundTouch"/>
					<mat-error>Must be 100 or more</mat-error>
					<span matTextSuffix>m</span>
				</mat-form-field>
				<mat-form-field appearance="outline" subscriptSizing="fixed">
					<mat-label>From 50ft</mat-label>
					<input min="0" type="number" matInput placeholder="0000" [formControl]="form.controls.landing50ftHeight"/>
					<mat-error>Must be 100 or more</mat-error>
					<span matTextSuffix>m</span>
				</mat-form-field>
			</div>
		</form>
		@if (selectedAircraft) {
			<div class="divider-row"><div class="divider">Aircraft Details</div></div>
			<div class="selected-aircraft">
				<div class="aircraft-info-flex">
					<div class="aircraft-info-flex-column">
						<strong>Model</strong>
						<strong>Type</strong>
						<strong>Fuel</strong>
					</div>
					<div class="aircraft-info-flex-column">
						<span>{{ selectedAircraft.model }}</span>
						<span>{{ selectedAircraft.type | formatAircraftType }}</span>
						<span>{{ selectedAircraft.fuelType | formatFuelType }}</span>
					</div>
				</div>
				<div class="aircraft-limits-flex">
					@if (selectedAircraft.maxTakeoffCrossWind) {
						<span>Max {{ selectedAircraft.maxTakeoffCrossWind }}kt takeoff crosswind</span>
					}
					@else {
						<span class="amber">No max takeoff crosswind</span>
					}
					@if (selectedAircraft.maxTakeoffTailWind) {
						<span>Max {{ selectedAircraft.maxTakeoffTailWind }}kt takeoff tailwind</span>
					}
					@else {
						<span class="amber">No max takeoff tailwind</span>
					}
					@if (selectedAircraft.maxLandingCrossWind) {
						<span>Max {{ selectedAircraft.maxTakeoffCrossWind }}kt landing crosswind</span>
					}
					@else {
						<span class="amber">No max landing crosswind</span>
					}
					@if (selectedAircraft.maxLandingTailWind) {
						<span>Max {{ selectedAircraft.maxLandingTailWind }}kt landing tailwind</span>
					}
					@else {
						<span class="amber">No max landing tailwind</span>
					}
				</div>
			</div>
		}
	</mat-card-content>
	@if (isLoading$ | async) {
		<mat-card-footer>
			<mat-card-content>
				<mat-progress-bar mode="indeterminate"></mat-progress-bar>
			</mat-card-content>
		</mat-card-footer>
	} @else if (isLoadingFailed$ | async) {
		<mat-card-footer>
			<mat-card-content>
				<div class="error-footer">
					<mat-icon>error</mat-icon>
					<span>Something went wrong when retrieving your aircraft</span>
				</div>
			</mat-card-content>
		</mat-card-footer>
	}
</mat-card>
