<mat-card>
	<mat-card-header>
		<mat-card-subtitle>Aircraft details</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<div class="card-input-row">
			<mat-form-field appearance="outline" subscriptSizing="dynamic">
				<mat-label>Aircraft</mat-label>
				<mat-select>
					<mat-option>test</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field appearance="outline" subscriptSizing="dynamic">
				<mat-label>Registration</mat-label>
				<input matInput placeholder="PH-ABC" />
			</mat-form-field>
		</div>
	</mat-card-content>
</mat-card>
