<mat-card>
	<mat-card-header>
		<app-card-input-title
			[isSuccess]="form.valid"
			(historyClicked)="loadFormHistory()"
			(resetClicked)="resetForm()"
			(saveClicked)="saveForm()">Airport details
		</app-card-input-title>
	</mat-card-header>
	<mat-card-content>
		<form [formGroup]="form">
			<div class="divider divider-spacing">Departure Airport</div>
			<div class="card-input-row">
				<mat-form-field appearance="outline" subscriptSizing="fixed">
					<mat-label>Runway TORA</mat-label>
					<input matInput type="number" placeholder="0000" [formControl]="form.controls.departureTora" />
					<span matTextSuffix>m</span>
					<mat-error>Must be 100 or more</mat-error>
				</mat-form-field>
				<mat-form-field appearance="outline" subscriptSizing="fixed">
					<mat-label>Runway TODA</mat-label>
					<input matInput type="number" placeholder="0000" [formControl]="form.controls.departureToda" />
					<span matTextSuffix>m</span>
					<mat-error>Must be 100 or more</mat-error>
				</mat-form-field>
				<mat-form-field appearance="outline" subscriptSizing="fixed">
					<mat-label>Runway ASDA</mat-label>
					<input matInput type="number" placeholder="0000" [formControl]="form.controls.departureAsda" />
					<span matTextSuffix>m</span>
					<mat-error>Must be 100 or more</mat-error>
				</mat-form-field>
				<mat-form-field appearance="outline" subscriptSizing="fixed">
					<mat-label>Runway LDA</mat-label>
					<input matInput type="number" placeholder="0000" [formControl]="form.controls.departureLda" />
					<span matTextSuffix>m</span>
					<mat-error>Must be 100 or more</mat-error>
				</mat-form-field>
			</div>
			<div class="card-input-row-spaced">
				<mat-form-field appearance="outline" subscriptSizing="dynamic">
					<mat-label>Wind direction</mat-label>
					<mat-hint>Format: HDG / KT</mat-hint>
					<input matInput placeholder="000 / 00" [formControl]="form.controls.departureWind" />
				</mat-form-field>
				@if (departureMetar) {
					<div class="small-text">
						<div>{{ departureMetar.displayName }}</div>
						<div>{{ departureMetar.rawMetar }}</div>
					</div>
				}
				@if (isFetchingDepartureWind) {
					<button type="button" mat-button disabled>
						<div class="spinner-label">
							<mat-spinner [diameter]="16" /><span>Fetching</span>
						</div>
					</button>
				} @else {
					<button type="button" mat-button (click)="fetchDepartureWind()"><mat-icon>download</mat-icon> Fetch Wind</button>
				}
			</div>
			<div class="divider divider-spacing">Destination Airport</div>
			<div class="card-input-row">
				<mat-form-field appearance="outline" subscriptSizing="fixed">
					<mat-label>Runway TORA</mat-label>
					<input matInput type="number" placeholder="0000" [formControl]="form.controls.destinationTora" />
					<span matTextSuffix>m</span>
					<mat-error>Must be 100 or more</mat-error>
				</mat-form-field>
				<mat-form-field appearance="outline" subscriptSizing="fixed">
					<mat-label>Runway TODA</mat-label>
					<input matInput type="number" placeholder="0000" [formControl]="form.controls.destinationToda" />
					<span matTextSuffix>m</span>
					<mat-error>Must be 100 or more</mat-error>
				</mat-form-field>
				<mat-form-field appearance="outline" subscriptSizing="fixed">
					<mat-label>Runway ASDA</mat-label>
					<input matInput type="number" placeholder="0000" [formControl]="form.controls.destinationAsda" />
					<span matTextSuffix>m</span>
					<mat-error>Must be 100 or more</mat-error>
				</mat-form-field>
				<mat-form-field appearance="outline" subscriptSizing="fixed">
					<mat-label>Runway LDA</mat-label>
					<input matInput type="number" placeholder="0000" [formControl]="form.controls.destinationLda" />
					<span matTextSuffix>m</span>
					<mat-error>Must be 100 or more</mat-error>
				</mat-form-field>
			</div>
			<div class="card-input-row-spaced">
				<mat-form-field appearance="outline" subscriptSizing="dynamic">
					<mat-label>Wind direction</mat-label>
					<mat-hint>Format: HDG / KT</mat-hint>
					<input matInput placeholder="000 / 00" [formControl]="form.controls.destinationWind" />
				</mat-form-field>
				@if (destinationMetar) {
					<div class="small-text">
						<div>{{ destinationMetar.displayName }}</div>
						<div>{{ destinationMetar.rawMetar }}</div>
					</div>
				}
				@if (isFetchingDestinationWind) {
					<button type="button" mat-button disabled>
						<div class="spinner-label">
							<mat-spinner [diameter]="16" /><span>Fetching</span>
						</div>
					</button>
				} @else {
					<button type="button" mat-button (click)="fetchDestinationWind()"><mat-icon>download</mat-icon> Fetch Wind</button>
				}
			</div>
		</form>
	</mat-card-content>
</mat-card>
