.status-container {
	display: flex;
	justify-content: center;
}

.status-content {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
}

.error-icon {
	transform: scale(2);
	color: var(--mat-sys-error)
}

.no-margin {
	margin-bottom: 0;
}
