@use '../../../../../styles.scss' as *;
@use '@angular/material' as mat;

.title {
	display: flex;
	gap: 5px;
}

.card-subtitle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding-bottom: 10px;

	color: var(--mat-card-subtitle-text-color, var(--mat-sys-on-surface));
	line-height: var(--mat-card-subtitle-text-line-height, var(--mat-sys-title-medium-line-height));
	font-size: var(--mat-card-subtitle-text-size, var(--mat-sys-title-medium-size));
	letter-spacing: var(--mat-card-subtitle-text-tracking, var(--mat-sys-title-medium-tracking));
	font-weight: var(--mat-card-subtitle-text-weight, var(--mat-sys-title-medium-weight));
}

.title-icon {
	transform: scale(0.75);
}

:host {
	width: 100%;
}

.success {
	color: $success-color;
}

.warn {
	color: $warn-color;
}

.btn-small-density {
	@include mat.icon-button-density(-5);
}

.button-group {
	display: flex;
	align-items: center;
}
