<div class="card-subtitle">
	<span class="title">
		<span><ng-content></ng-content></span>
		@if (isSuccess) {
			<mat-icon class="title-icon success" matTooltip="Values are valid">done_all</mat-icon>
		}
		@else {
			<mat-icon class="title-icon warn" matTooltip="Some values are invalid">warning</mat-icon>
		}
	</span>
	<div class="button-group">
		<div class="btn-small-density">
			<button mat-icon-button matTooltip="Reset form"><mat-icon>delete</mat-icon></button>
		</div>
		<div class="btn-small-density">
			<button mat-icon-button matTooltip="Reload previous input"><mat-icon>history</mat-icon></button>
		</div>
		<div class="btn-small-density">
			<button mat-icon-button matTooltip="Reset form"><mat-icon>save</mat-icon></button>
		</div>
	</div>
</div>
