<mat-toolbar color="primary" class="mat-toolbar">
  <span>Simple Plane Performance</span>
  <div class="toolbar">
    <div class="toolbar-button" routerLink="/calculate" routerLinkActive="toolbar-button-active">
      <mat-icon>calculate</mat-icon>
      <span>Performance</span>
    </div>
    <div class="toolbar-button" routerLink="/aircraft" routerLinkActive="toolbar-button-active">
      <mat-icon>flight</mat-icon>
      <span>Aircrafts</span>
    </div>
  </div>
</mat-toolbar>
<div class="router-content">
  <router-outlet></router-outlet>
</div>
