@use '@angular/material' as mat;

mat-form-field {
	@include mat.form-field-density(-5);
}

mat-card-subtitle {
	@include mat.card-overrides((
		subtitle-text-line-height: 2
	))
}

.card-input-row {
	display: flex;
	gap: 10px;
}

.card-input-row > * {
	flex: 1;
	max-width: 50%;
}
